<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maoding.common.module.dynamic.dao.ZUserDAO">
    <select id="getUserById" resultType="com.maoding.common.module.dynamic.dto.ZUserDTO" parameterType="java.lang.String">
        SELECT
          id as user_id,
          user_name,
          nick_name as alias_name
        FROM
          maoding_web_account
        WHERE
          status='0' and id=#{userId}
    </select>
    <select id="getUserByCompanyUserId" resultType="com.maoding.common.module.dynamic.dto.ZUserDTO" parameterType="java.lang.String">
        SELECT
            a.id as company_user_id,
            b.id as user_id,
            b.user_name as user_name,
            ifnull(a.user_name,b.nick_name) as alias_name
        FROM
            ( SELECT id,user_id,user_name
              FROM
                maoding_web_company_user
              WHERE
                id=#{companyUserId}
              LIMIT 1
            ) a
            INNER JOIN maoding_web_account b on (b.status='0' and a.user_id=b.id)
    </select>
    <select id="getUserByCompanyIdAndUserId" resultType="com.maoding.common.module.dynamic.dto.ZUserDTO">
        SELECT
            a.id as company_user_id,
            b.id as user_id,
            b.user_name as user_name,
            ifnull(a.user_name,b.nick_name) as alias_name
        FROM
            ( SELECT id,user_id,user_name
              FROM
                  maoding_web_company_user
              WHERE
                  company_id=#{companyId} and user_id=#{userId}
              LIMIT 1
            ) a
            INNER JOIN maoding_web_account b on (b.status='0' and a.user_id=b.id)
    </select>
</mapper>