<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maoding.corpbll.module.corpclient.dao.SyncTaskDao">

    <select id="selectUnfinishedTasks" resultType="com.maoding.corpbll.module.corpclient.model.SyncTaskDO">
        select * from sync_task where task_group_id = #{groupId} and task_status != 2
        order by sync_priority
        <if test="count != null  and count != 0 ">
            limit 0,${count}
        </if>
    </select>
</mapper>