<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maoding.admin.module.historyData.dao.CompanyDAO">
    <select id="getCompanyIdByCompanyNameAndUserName" parameterType="java.util.Map" resultType="java.lang.String">

    </select>
    <select id="getCompanyIdByCompanyNameForA" parameterType="java.util.Map" resultType="java.lang.String">

    </select>
    <select id="getCompanyIdByCompanyNameForB" parameterType="java.util.Map" resultType="java.lang.String">

    </select>
</mapper>